* {
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
}

.container {
    margin-left: 160px;
    margin-right: 160px;
}

.navbar button {
    color: #006A50;
  border-radius: 10px;
  border: 1px solid #006A50;
  height: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar h1{
    font-weight: bold;
}

/* hero */
#hero{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 560px;
    padding: 80px 100px;
    border-radius: 24px;
}
#hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.hero-btn{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500px;
    padding: 17px 34px;
}
.title{
    font-size: 25px;
    font-weight: bold;
}
.sub-title{
    opacity: 50%;
    font-size: 24px;
}
/* card */

.card{
    display: flex;
    gap: 10px;
    /* padding: 120px 32px 97px 32px; */
   
   
    
}
.card1{
background-color: #548ff52d;
padding: 32px;
border-radius: 16px;
}
.btn1{
background-color: #5490F5;
color: white;
font-weight: 600px;
border: none;
border-radius: 8px;
padding: 11px;
}
.card2{
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 16px;

}
.btn2{
    background-color: #09A15C;
    color: white;
    font-weight: 600px;
    border: none;
border-radius: 8px;
padding: 11px;
}
.card3{
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 16px;
}
.btn3{
    background-color: #FFC239;
    color: white;
    font-weight: 600px;
    border: none;
border-radius: 8px;
padding: 11px;
}
.card-text h1{
    font-size: 40px;
    font-weight: bold;
}
.card-text p{
    opacity: 70%;
}
/* quote */
.quote{
    background-image: url('../images/quote-bg.png');
   background-repeat: no-repeat;
   background-color: #FFFFFF;
   border-radius: 16px;
   margin-top: 32px;
   margin-bottom: 80px;
   padding: 48px 24px;
 background-position: top 40px left 24px;

}

.quote-text p{
    opacity: 70%;
}

/* News */
.satelite-container,.satelite-container2{
    display: flex;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 48px;
    margin-top: 32px;
    margin-bottom: 24px;
}
.news-img img,.news-img2 img{
   border-radius: 24px;
}
.news-btn,.news-btn2{
    background-color: #006A50;
   
    color: white;
    border-radius: 8px;
padding: 11px;
border: none;
font-weight: 600px;
}
.news-container p ,time,.news-container2 p ,time{
    opacity: 70%;
}



.satelite-container2{
    display: flex;
    flex-direction: row;
}