* {
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
}

.container {
    margin-left: 160px;
    margin-right: 160px;
}

.navbar button {
    color: #006A50;
  border-radius: 10px;
  border: 1px solid #006A50;
  height: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar h1{
    font-weight: bold;
}

/* hero */
#hero{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 560px;
    padding: 80px 100px;
    border-radius: 24px;
}
#hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.hero-btn{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500px;
    padding: 17px 34px;
}
.title{
    font-size: 25px;
    font-weight: bold;
}
.sub-title{
    opacity: 50%;
    font-size: 24px;
}
/* card */

.card{
    display: flex;
    gap: 10px;
    /* padding: 120px 32px 97px 32px; */
   
   
    
}
.card1{
background-color: #548ff52d;
padding: 32px;
border-radius: 16px;
}
.btn1{
background-color: #5490F5;
color: white;
font-weight: 600px;
border: none;
border-radius: 8px;
padding: 11px;
}
.card2{
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 16px;

}
.btn2{
    background-color: #09A15C;
    color: white;
    font-weight: 600px;
    border: none;
border-radius: 8px;
padding: 11px;
}
.card3{
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 16px;
}
.btn3{
    background-color: #FFC239;
    color: white;
    font-weight: 600px;
    border: none;
border-radius: 8px;
padding: 11px;
}
.card-text h1{
    font-size: 40px;
    font-weight: bold;
}
.card-text p{
    opacity: 70%;
}
/* quote */
.quote{
    background-image: url('../images/quote-bg.png');
   background-repeat: no-repeat;
   background-color: #FFFFFF;
   border-radius: 16px;
   margin-top: 32px;
   margin-bottom: 80px;
   padding: 48px 24px;
 background-position: top 40px left 24px;

}

.quote-text p{
    opacity: 70%;
}

/* News */
.satelite-container,.satelite-container2{
    display: flex;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 48px;
    margin-top: 32px;
    margin-bottom: 24px;
}
.news-img img,.news-img2 img{
   border-radius: 24px;
}
.news-btn,.news-btn2{
    background-color: #006A50;
   
    color: white;
    border-radius: 8px;
padding: 11px;
border: none;
font-weight: 600px;
}
.news-container p ,time,.news-container2 p ,time{
    opacity: 70%;
}



.satelite-container2{
    display: flex;
    flex-direction: row;
}
/* donate */
.donate-card {
    display: flex;
    gap: 30px;
    text-align: center;
  
    
  
   
}
.donate-card1{
   
    background-color: #FFFFFF;
    border-radius: 16px;
    
    font-weight: bold;
    width: 20%;
    height: 20%;
    font-size: 20px;

}

.donate-card2{
    
  
    background-color: #FFFFFF;
    border-radius: 16px;
    
    background-color: #C6E4D6;
    font-weight: bold;
    /* padding: 30px 20px;  */
    width: 20%;
    height: 20%;
    font-size: 20px;
}
.donate-card3{
    /* width: 252px;
    height: 128px; */
    background-color: #FFFFFF;
    border-radius: 16px;
   
    font-weight: bold;
    width: 20%;
    height: 20%;
    font-size: 20px;

}

.donate-card4{
  
    background-color: #FFFFFF;
    border-radius: 16px;
   
    font-weight: bold;
     
   
    width: 20%;
    height: 20%;
    font-size: 20px;
}
/* .donate-option{
   margin-top: 32px;
    width: 1032px;
    height: 64px;
    background-color: #FFFFFF;
   text-align: center;
   
   padding-top: 5px;
}
.donate-op-text{
    opacity: 40%;
} */
.donate-btn button{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600px;
    border: none;
    border-radius: 8px;
    padding: 17px 34px;
   
    margin-top: 32px;
  
}
.donate-btn{
    display: flex;
    justify-content: center;
    
}
/* .donate-btn-align{
    display: flex;
    margin-top: 32px;
    justify-content: center;
} */
.donate-option input[type="text"]{
   
    width: 900px;
    height: 64px;
    background-color: #FFFFFF;
   text-align: center;
   border: none;
  font-size: 20px;
  margin-left: 120px;
}
.donate-option{
    margin-top: 32px;
   
}
.donate-text{
    text-align: center;
    margin-bottom: 32px;
}
.donate-text h1{
    font-size: 40px;
    font-weight: bold;
}
.donate-text p {
    opacity: 70%;
}
/* subscribe */
.Newsletter-text{
    text-align: center;
    margin-top: 80px;
    padding-top: 80px;
}
.Newsletter-text h1
{
font-size: 40px;
font-weight: bold;
}
.Newsletter-text p{
    opacity: 70%;
}
#Newsletter{
    background-color: #C6E4D6;
    border-radius: 24px;
    width: 1280;
    height: 395px;
   
}
.Subscribe  input[type="email"]{

width: 600px;
height: 55px;

border: none;
padding-left: 40px;
border-radius: 10px 0px 0px 10px;

}
.Subscribe button{
    background-color: #006A50;
    color: white;
    font-weight: bold;
    padding: 17px 34px;
   border: none;
   
   border-radius: 0px 10px 10px 0px;
   height: 55px;
  
}
.Subscribe  {
    display: flex;
    justify-content: center;
   
}
.center{
    text-align: center;
    opacity: 70%;
    margin-bottom: 80px;
}
 .align{
    display: flex;
    gap: 0px;
} 
/* footer */
.ending h1{
font-size: 40px;
font-weight: bold;

}
.footer-icon{
    display: flex;
    gap: 20px;
}
.ending{

   
    justify-content: center;
    justify-items: center;
}
.ending hr{
    opacity: 50%;
    width: 1122px;
}

/* hover */
button:hover {
    background-color: #006A50; 
    color: white; 
    transition: background-color 0.3s, color 0.3s; 
}
.donate-card1:hover{
    background-color: #C6E4D6;
   
    transition: background-color 0.3s, color 0.3s; 

}
.donate-card3:hover{
    background-color: #C6E4D6;
   
    transition: background-color 0.3s, color 0.3s; 

}
.donate-card4:hover{
    background-color: #C6E4D6;
   
    transition: background-color 0.3s, color 0.3s; 

}
.donate-card2:hover{
    background-color: white;
   
    transition: background-color 0.3s, color 0.3s; 

}
.donate-btn button:hover{
    background-color: black;
    transition: background-color 0.3s, color 0.3s; 

}
.btn:hover{
    background-color: black;
    transition: background-color 0.3s, color 0.3s; 
}
.news-btn2:hover{
    background-color: black;
    transition: background-color 0.3s, color 0.3s; 
}
.news-btn:hover{
    background-color: black;
    transition: background-color 0.3s, color 0.3s; 
}
.hero-btn:hover{
     background-color: black; 
    transition: background-color 0.3s, color 0.3s; 
}